<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="container" *ngIf="!loading && !error" >
    <hr>
    <div class="row" *ngIf="view === 'card'">
      <div class="col-sm-3" *ngFor="let character of characters">
        <app-character-image [character]="character"  (characterSelected)="onCharacterSelect($event)"></app-character-image>
      </div>
    </div>

    <div class="row" *ngIf="view === 'detail'">
      <app-detailed-view [character]="characterDetails" [selectedCharacterImage]="selectedCharacterImage" (backButtonPressed)="onBackButtonPressed()"></app-detailed-view>
    </div>

  </div>
  <div class="row" *ngIf="loading">
    <app-loading></app-loading>
  </div>

  <div class="row" *ngIf="error">
      <app-error></app-error>
    </div>
  